html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: black;
}
h1{
    text-align: center;
    color: white;
    margin-left: 200px;
    margin-right: 200px;
}

#container{
    max-width: 100%;
    background-color: gray;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 200px;
    margin-right: 200px;
    border: 10px solid red;

}

#container *{
    align-self: center;
    flex-basis: 100%;
}

#userOptions{
    display: flex;
    max-width: 70%;
    margin-left: 200px;
    margin-right: 200px;
    color: white;

}

#userOptions * {
    flex-basis:100%;
    margin: 5px;
}


