html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: gray;
}
h1{
    text-align: center;
}

#container{
    max-width: 100%;
    max-height: 50px;
    background-color: gray;
    justify-content: center;
    align-items: center;
    align-content: center;

}

#userOptions{
    display: flex;
    max-width: 70%;

}

#userOptions * {
    flex-basis:100%;
    margin: 5px;
}


